<!-- Navbar com botão hambúrguer à direita -->
<nav class="navbar bg-light">
  <div class="container-fluid justify-content-end">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuHamburguer" aria-controls="menuHamburguer">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- Menu Offcanvas (desliza da direita) -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="menuHamburguer" aria-labelledby="menuHamburguerLabel">
  <div class="offcanvas-header">
    <img src="../assets/logo.png" alt="Logo">
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Fechar"></button>
  </div>
  <!-- Corpo do menu com flex para empurrar o último item -->
  <div class="offcanvas-body d-flex flex-column">
    <ul class="nav flex-column mb-3">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Pedidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Fornecedor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Relatório</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Sustentabilidade</a>
      </li>
    </ul>

    <!-- Espaço flexível que empurra o item de baixo -->
    <div class="mt-auto">
      <img src="../assets/sair.png" class="img-sair">
      <a class="nav-link text-white" id="sair">Sair</a>
    </div>
  </div>
</div>


