body {
    font-family: 'Poppins', sans-serif;
}

#menuHamburguer{

    background-color: #067D39;
}

.navbar {
    position: fixed; 
    top: 0;    
    left: 0;         
    width: 100%;    
    z-index: 1000;  
}

.nav-link{
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.377);
}

.container-fluid{
    margin-top: -10px;
    background-color: #067D39;
    height: 60px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.mt-auto a{
    border-bottom: none; 
    color: #FF1C1C;
    font-size: 15px;
    margin-left: 5px;
}

.offcanvas-header img{
    height: 70px;
    margin-left: 10px;
}

.img-sair{
    height: 20px;
    width: 20px;
}

.mt-auto{
    display: flex;
}

/* --- BARRA DE ROLAGEM PERSONALIZADA --- */
body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }
